#result {
  display: none;
  color: #D90368;
  margin: 20px 0;
  size: 14px;
}

body {
  padding: 20px 30px;
  margin: 20px 0;
}

input {
  width: 20%;
  padding: 6px 6px;
  margin: 6px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header p {
  padding: 30px 0;
  color: #A4036F;
}

.header h1 {
  color: #048BA8;
}

img {
  margin-left: 20px;
}

.header img {
  width: 200px;
  height: 350px;
  float: right;
}

#result img {
  width: 400px;
  height: 300px;
  float: inherit;
}
